html, body {
	margin: 0;
	padding: 0;
	
	background: url(http://68.media.tumblr.com/09cbbaf1cd5dfe146f051418271e3ea2/tumblr_inline_msmpotBPLf1qz4rgp.jpg);
	background-size: 100%;
}
.row {
	height: 10%;
}
.hidden {
	display: none;
}
#menuBar {
	height: 50px;
}
#imageTag {
	font-size: 2em;
}
#image {
	
	
}
#textBody {
	font-size: 1.5em;
	margin-top: 10%;
	float: right;
	width: 280px;
	position: relative;
    margin-left: 100%;
}
#pageContainer {
	
	margin: auto;
}
#please {
	width: 100%;
	height: 100%;
}
#about {
	
}
#footer {
	clear: both;
	height: 66px;
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
}
#name {
	float: left;
}
#menu {
	float: right;
}
#menuButtons {
	list-style: none;
	display: inline-block;
}
#menuButtons>li {
	display: inline-block;
}
#navvv {
	margin-bottom: 0px;
}
#youtoob {
	height: 200px;
	width: auto;
}
#imageContainer {
	width: 30%;
	height: auto;
}
#profile {
	width: 100%;
	height: auto;
}
#mane {
	margin:15px;
	height: 10%;
	width: auto;
}
#leftNip {
	
}
#rightNut {
	
}
#leftNut {
		width: 50%;
}
#rightNut {
	width: 50%;
	position: 50%;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
#main {
	margin-top: 15px;
	height: 10%;
	width: auto;
}
#resume {
	padding: 1%;
}