{% extends 'template.html' %}
{% block content %}
		<title> about </title>
		<div id = "pageContainer">
		<!-- 
			<div id="about">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17884606_1319576138097119_7691543109656298698_n.jpg?oh=6ff0b55a520bf47f4f6f1c22a7a934cc&oe=5985EBDA" id="please"/>
					</div>
				</div>
			</div>
		</div>
		-->
	<div class="row" id="mane">
		<div class="col-xs-6" id="leftNip">
				<div id="mediaButtons">
						<a href="https://www.facebook.com/jacob.zillifro" class="btn btn-primary">Facebook</a>
						<a href="https://www.instagram.com/jzillifro/?hl=en" class="btn btn-success">Instagram</a>
						<button type="button" class="btn btn-danger" onClick="google()">Google</a>
				</div>
		  </div>
		  <div class="col-xs-6" id="rightNip">
			<div class="panel panel-default">
				<div class="panel-body">
					<div id="imageCont">
						<img src="https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17884606_1319576138097119_7691543109656298698_n.jpg?oh=6ff0b55a520bf47f4f6f1c22a7a934cc&oe=5985EBDA" id="please"/>
					</div>
				</div>
			</div>
		  </div>
	</div>
</div>
{% endblock %}