{% extends 'template.html' %}
{% block content %}
	<div id="imageContainter">
		<div class="panel panel-default">
			  <div class="panel-body">
					<img src="http://i.imgur.com/N2XDtVY.jpg" id="profile"/>
			  </div>
		</div>
	</div>
	<div id = "textBody">
		<div class="panel panel-default">
			  <div class="panel-body">
					<p>     textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody </p>
			  </div>
		</div>
	</div>
{% endblock %}